.container{
  width: 100%;
  height: max-content;
  /* margin:0 0 auto; */
}

h1{
  text-align: center;
}

main{
  width: 100%;
  border-radius: 12px;
}

.mainDiv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


form div{
  margin: 3px 0 3px 0; 
}

fieldset{
  width: fit-content;
}

label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
  font: bolder;
}

input[type="text"], input[type="number"], input[type="date"]{
  height: 20px;
  padding: 3px;
  border-radius: 4px;
}

/* button{
  background-color: black;
  color: white;
  font-weight: bold;
  padding:8px;
  margin: 0 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
} */